---
import Welcome from "../components/Welcome";
import Hero from "../components/Hero";
import NavigationBar from '../components/NavigationBar.astro'
import Layout from "../layouts/Layout.astro";
import { ContactForm } from "@/components/ContactForm";
import Footer from "@/components/Footer/Footer.astro";
---

<Layout>
  <NavigationBar/>
  <Hero/>
  <div class="w-11/12 max-w-7xl mx-auto">
    <Welcome />
    <ContactForm client:load/>
  </div>
  <Footer/>
</Layout>
