---
import NavigationBar from '../components/NavigationBar.astro'
import Layout from "../layouts/Layout.astro";
import About from "@/components/About.astro";
---

<Layout>
  <NavigationBar/>
  <div class="w-11/12 max-w-7xl mx-auto">
    <About />
  </div>
</Layout>
