---
import { ModeToggle } from "../components/ModeToggle";
import Welcome from "../components/Welcome";
import NavigationBar from '../components/NavigationBar.astro'
import Layout from "../layouts/Layout.astro";
import { ContactForm } from "@/components/ContactForm";
---

<Layout>
  <NavigationBar/>
  <div class="w-11/12 max-w-7xl mx-auto">
    <Welcome />
    <ContactForm client:load/>
  </div>
</Layout>
