---
import Button from "./global/Button";
---

<div class="w-full space-y-5 md:space-x-0 flex flex-col md:flex-row items-center md:items-end md:justify-between">
    <div class='space-y-5 md:space-y-10 w-full md:w-4/6'>
        <h2 class='uppercase text-slate-900 dark:text-slate-100 text-center title-mobile md:title-tablet md:text-left lg:title-desktop'>Nosotros</h2>
        <p class='text-slate-900 dark:text-slate-100 body-mobile text-center md:body-tablet md:text-left lg:body-desktop'>
            En Forjandi, combinamos talento y experiencia para transformar ideas en soluciones tecnológicas que marcan la diferencia. Ayudamos a las empresas a adoptar tecnologías, crear software con IA y mantenerse a la vanguardia.
        </p>
    </div>
    <div class='text-center w-full md:w-1/6 hidden md:block'>
        <Button onClick={() => alert("Botón clickeado")} className='uppercase'>Contáctanos</Button>
    </div>
</div>
